body {
    background-color: #4c7766;
    font-family: "Montserrat Alternates", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin: auto 7%;
    position: relative;
    padding-bottom: 0;
    top: 20px;
}

.welcome-paragraph {
    color: #ebe6e0;
    padding: 30px 0;
}

.welcome-link {
    color: #ebe6e0;
    transition: all 0.3s ease;
}

.welcome-link:hover {
    color: black;
}

.logo-container {
    display: flex;
    gap: 10px;
}

.spf-img {
    height: 35px;
}

.logo-name {
    color: #ebe6e0;
    margin: auto;
    font-size: 1.5rem;
}

.about-link,
.return-link {
    text-decoration: none;
    color: #4c7766;
    font-size: 0.9rem;
    background-color: #ebe6e0;
    padding: 8px;
    border-radius: 6px;
    transition: all 0.2s ease;
}

.about-link:hover,
.return-link:hover,
.check-link:hover,
.insta-link:hover {
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.boy-img {
    height: 90px;
    margin: 0;
    padding: 0;
    background-color: #ebe6e0;
    padding: 10px;
    border-radius: 50%;
}

.title {
    color: #ebe6e0;
    font-size: 2.4rem;
}

input, button {
    font-family: "Montserrat Alternates", sans-serif;
    padding: 10px;
    border: none;
    border-radius: 6px;
}

.protect-btn {
    color: #4c7766;
    font-weight: 400;
    cursor: pointer;
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.advice-banner {
    background-color: #ebe6e0;
    color: #4c7766;
    padding: 5px;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 5px;
    position: relative;
    top: 25px;
}

.result-card {
    background-color: #ebe6e0;
    text-align: center;
    width: 50%;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
}

.uv-index {
    color: #4c7766;
}

.advice {
    color: #4c7766;
}

.error {
    color: orange;
}

.about-paragraph {
    text-align: center;
    color: #ebe6e0;
    font-size: 1.1rem;
}

.table-caption {
    color: #ebe6e0;
    margin-bottom: 5px;
}

table {
    color: #4c7766;
    background-color: #ebe6e0;
    border-radius: 5px;
    padding: 5px;
}

table {
    margin-top: 7px;
}

tr, th, td {
    border: 1px dotted #4c7766;
    border-radius: 5px;
    padding: 5px;
}

.check-link {
    color: #ebe6e0;
    margin-top: 20px;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

footer {
    margin-top: 70px;
}

.footer-paragraph {
    text-align: center;
    color: #ebe6e0;
    font-size: 0.8rem;
    margin: 0;
}

.insta-link {
    text-decoration: none;
    color: #ebe6e0;
    transition: all 0.3s ease;
}

.copyright-symbol {
    font-size: 0.7rem;
    margin-right: 1px;
}

@media (max-width: 425px) {
    .logo-container {
        margin-bottom: 50px;
        gap: 6px;
    }
    .spf-img {
        height: 25px;
    }
    .logo-name {
        font-size: 1rem;
        margin-top: 5px;
    }
    .about-link,
    .return-link {
        font-size: 0.7rem;
        height: 15px;
    }
    .welcome-paragraph {
        font-size: 0.720rem;
        text-align: center;
    }
    .boy-img {
        height: 50px;
    }
    .title {
        font-size: 1.1rem;
    }
    input,
    .protect-btn,
    .check-link {
        font-size: 0.7rem;
    }
    .result-card {
        padding: 5px;
    }
    .uv-index,
    .table-caption {
        font-size: 1rem;
    }
    .advice,
    .error {
        font-size: 0.8rem;
    }
    .about-paragraph {
        font-size: 0.8rem;
        padding: 0 60px;
    }
    th, td, tr {
        font-size: 0.920rem;
        padding: 3px;
    }
    .footer-paragraph {
        font-size: 0.750rem;
    }
}

@media (min-width: 426px) and (max-width: 769px) {
    .welcome-paragraph {
        font-size: 0.9rem;
    }
    .title {
        font-size: 1.750rem;
    }
    .boy-img {
        height: 80px;
    }
}